@font-face {
    font-family: 'TIBch';
    src: local('Hiragino Sans GB'),local('PingFang SC'), local('Heiti SC'), local('Source Han Sans'), local('Microsoft YaHei UI'), local('Microsoft YaHei');
    unicode-range: U+2014, U+00B7, U+2026;
}
@font-face {
    font-family: 'TIBch-t';
    src: local('PingFang TC'),local('Hiragino Sans GB'), local('Source Han Sans'), local('Microsoft JhengHei UI'), local('Microsoft JhengHei');
    unicode-range: U+2014, U+00B7, U+2026;
}

body {
    font-family: Lato, "Classic Grotesque W01", "Avenir Next", "Segoe UI", "Helvetica Neue", Arial, "Hiragino Sans GB", "PingFang SC", "Heiti SC", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans", sans-serif;
    background-color: #f8f8f5;
}

.highlight {
	  background-color: #efefef;
	  padding: 7px 7px 7px 10px;
	  border: 1px solid #ddd;
	  font-family:'consolas', 'Bitstream Vera Sans Mono','Courier', monospace;
	}
	
.highlight .c { color: #586E75 }
.highlight {
  width: 97%;
  margin: 10px auto;
  font-size: 16px;
  line-height: 1.2em;
  background-color: #383830;
  color: #eeeeee;
  border-radius: 6px; }
  .highlight .lineno {
    margin: 3px;
    font-size: 16px;
    color: #e6e6e6; }
  .highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
    /* comment */
    color: #595959; }
  .highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .nt {
    /* key word*/
    color: #f92672; }
  .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    /*number*/
    color: #ae81ff; }
  .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
    /*string*/
    color: #e6db74; }
  .highlight .nf, .highlight .na, .highlight .nc {
    color: #a6e22a; }
  .highlight .css .k, .highlight .nb, .highlight .kd, .highlight .n {
    font-style: italic;
    color: #84d7ec; }